body {
    text-align: center;
    position: relative
}

canvas {
    margin: 0 auto;
}


#congrats {
    display: none; 
    width: 517px;
    height: 560px;
    margin: 0 auto;
    border-radius: 20px;
    z-index: 1;
    background: #d2d2d2;
    padding-top: 50px;
    
}
#congrats h1{
    
}
#congrats button{
    padding: 10px 20px;
    background: rgba(5, 55, 165, 0.74);
    color: #fff;
    border: 0;
    cursor: pointer
}
#congrats button:hover{
    background: rgba(4, 40, 119, 0.74)
}